@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

body {
  box-sizing: border-box;
  font-family: "Quicksand";
  text-align: center;
  margin: 0 auto;
  background-color: #55ACEE;
  color: #fff;
  display: flex;
	align-items: center;
	justify-content: center;
}

input {
	padding: 10px;
	background-color: inherit;
  border: 2px solid #fff;
  border-radius: 5px;
	color: white;
	border-bottom: 2px solid #fff;
	transition: .5s all;
  outline: none;
}

input:focus {
background-color: #fff;
color: #55ACEE;
}


  button {
    background-color: #55ACEE;
    border: 2px solid #fff;
    outline: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    transition: .5s;
}

button:hover {
  background-color: #fff;
  color: #00c7e8;
}

li {
  display: flex;
}
